/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Ensure full black background */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Set background to black globally */
  overflow: hidden;
  display: flex; /* Flexbox applied to center items globally */
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/* Custom scrollbar visibility */
::-webkit-scrollbar {
  width: auto;
}

/* Fade-in and fade-out animation */
.fade-in-out {
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
